.button {
    cursor: pointer;
    user-select: none;
    display: 'inline-block';
    background-color: #0d58b5;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    border: 2px solid #0d0d0d;
    transition: 300ms all ease;
    box-shadow: 2px 1px 2px 0px #000000;
}
.button:hover {
    color: #000000;
    background-color: #cccccc;
    transition: 300ms all ease;
    box-shadow: 2px 1px 12px 0px #000000;
}