.card-holder {
    position: relative;
    min-width: 27%;
    cursor: pointer;
    max-width: 280px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    box-shadow: 8px 7px 8px 0px #00000038;
    margin: 10px 20px;
    background: white;
    transition: 200ms all ease;
    border: 1px solid #e6e6e6;
    min-height: 300px;
}

.card-holder:hover {
    /* background: #a2a2a2; */
    /* color: white; */
    border-radius: 10px;
    border: 1px soild #bfbfbf;
    transition: 200ms all ease;
    transform: translateY(-1%);
}

.card-holder img {
    width: 100%;
    height: auto;
}

.card-holder:nth-child(n+3) {
    width: 300px !important;
}

.card-holder:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.card-holder:hover>.card-remove {
    display: block;
}

.card-remove {
    display: none;
    position: absolute;
    top: -10px;
    right: -10px;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background: #c72121;
    content: 'X';
    color: white;
    font-size: 1.2em;
    text-align: center;
    line-height: 2em;
    box-shadow: -3px 1px 11px 5px #c7312b57;
}