.dialog-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    background: #6d6d6db3;
    /* opacity: 0; */
    transition: all 200ms ease-in;
}
.dialog-content {
    position: relative;
    background: white;
    width: 80%;
    max-width: 600px;
    padding: 10px 20px;
    margin: 0 auto;
    z-index: 110;
    top: 10%;
}
.dialog-header {
    font-size: 1.2em;
}
.dialog-body {
    position: relative;
    margin-bottom: 150px;
}
.dialog-footer {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 20px;
    background: white;
}



.dialog-enter {
    opacity: 0.01;
}

.dialog-enter.dialog-enter-active {
    opacity: 1;
    transition: all 200ms ease-in;
}

.dialog-leave {
    opacity: 1;
}

.dialog-leave.dialog-leave-active {
    opacity: 0.01;
    transition: all 300ms ease-in;
}