.input-box {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}
.input {
    outline: none;
    border: none;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid black;
}
.input:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid #ee0099;
}