.modal-container {
    width: 100%;
    background-color: #ffffffc7;
    position: fixed;
    top: 10px;
    bottom: 10px;
    left: 0px;
    right: 0px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: all ease-in-out 200ms;
}

.modal-content {
    width: 95%;
    margin: 0 auto;
    max-height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    transition: all linear 200ms;
    background-color: white;
    border: 1px solid #cdcdcd;
    box-shadow: -1px 5px 17px 6px #ccc;
}

.modal-header {}

.modal-body {}

.modal-footer {}