p,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  user-select: none;
  padding-bottom: 60px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.ham-icon {
  display: none;
}

.top-header-logo {
  padding: 0 20px;
  font-size: 1.4rem;
}





.search-enter {
  width: 0px;
  /* opacity: 0.01; */
}

.search-enter.search-enter-active {
  width: 180px;
  /* opacity: 1; */
  transition: width 500ms ease-in;
}

.search-leave {
  width: 180px;
  opacity: 1;
}

.search-leave.search-leave-active {
  width: 0px;
  opacity: 0.01;
  transition: width 300ms ease-in;
}

.header {
  position: fixed;
  z-index: 2;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: white;
  height: 60px;
  box-shadow: #7b67d659 2px 2px 10px 1px;
  display: flex;
  justify-content: space-between;
}

.header-menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fab-button {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  outline: none;
  border: none;
  box-shadow: rgba(123, 103, 214, 0.42) 7px 4px 17px 0px, rgba(123, 103, 214, 0.43) -5px 4px 17px 0px;
  background: #7845d6;
  color: white;
  font-size: 2.5em;
  z-index: 10;
  cursor: pointer;
  transition: all 300ms linear;
}

.fab-button:hover {
  transition: all 220ms ease;
  transform: scale(1.3);
}

.fab-button:hover+.fab-help {
  display: block;
}

.fab-help {
  display: none;
  background: black;
  color: white;
  font-size: 0.9em;
  padding: 2px 10px;
  border-radius: 5px;
  position: absolute;
  width: 120px;
  bottom: -40px;
  left: -50px;
  right: 10px;
}




#instagram-feed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.instagram-post {
  width: 30%;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.instagram-post img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.post-details {
  padding: 20px;
  background-color: #fff;
}

.post-username {
  font-weight: bold;
  margin-bottom: 10px;
}

.post-caption {
  font-size: 14px;
  color: #333;
}

.container {
  margin-top: 60px;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-f {
  display: flex;
}

.d-f.f-r {
  flex-direction: row;
}

.d-f.f-c {
  flex-direction: column;
}

.f-j-c {
  justify-content: center;
}

.f-ai-c {
  align-items: center;
}

.f-ac-c {
  align-content: center;
}

.user-info-list {
  padding: 20px;
  align-items: center;
}

.user-info-list-item {
  margin: 10px 0;
}

.sidenav {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.sidenav ul {
  display: flex;
  padding: 0;
  align-items: flex-start;
  justify-content: center;
}

.header-nav {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.header-nav:hover {
  color: blue;
}

.header-nav a, .top-header-logo a  {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 640px) {
  .ham-icon {
    display: flex;
  }
  .overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #cfcfcfc2;
    z-index: 1;
  }

  .sidenav {
    position: fixed;
    display: flex;
    left: 0;
    width: 200px;
    background: white;
    top: 60px;
    bottom: 0;
    z-index: 2;
    transition: all linear 100ms;
  }

  .sidenav ul {
    margin: 0;
    padding: 10px 0 0 10px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(255, 255, 255);
    justify-content: flex-start;
    align-self: flex-start;
    height: 100%;
  }

  .header-menu-list.search {
    display: none;
  }

  .sidenav li {
    list-style: none;
    display: flex;
    padding: 15px 10px;
    cursor: pointer;
  }

  .sidenav li a {
    text-decoration: none;
    color: inherit;
  }

  .instagram-post {
    width: 90%;
    margin: 10px auto;
  }

  .bottom-nav-holder {
    position: fixed;
    bottom: 0;
    background: white;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    z-index: 4;
    box-shadow: 0px -6px 6px 0px #0000004d;
  }

  .bottom-nav-item {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all ease-out 200ms;
  }

  .bottom-nav-item:hover {
    cursor: pointer;
  }

  .bottom-nav-item:active {
    transform: scale(1.1);
    transition: all ease-out 20ms;
  }
}